<ion-view view-title="Decisions">
  <div class="decisions-content">
    <div id="slider-container">
      <div id="slider-inner-container">
        <div id="slides-inner-container">
          <ion-slide-box on-slide-changed="slideHasChanged($index)" delegate-handle="stateSlides">
            <ion-slide class="decisions-slides">
              <ng-include src="'templates/includes/create.html'" ng-controller="CreateController"></ng-include>
            </ion-slide>
            <ion-slide class="decisions-slides">
              <ng-include src="'templates/includes/view-cards.html'" ng-controller="ViewCardsController"></ng-include>
            </ion-slide>
            <ion-slide class="decisions-slides">
              <ng-include src="templates/includes/dashboard.html" ng-controller="DashboardController"></ng-include>
            </ion-slide>
          </ion-slide-box>
        </div>
      </div>
    </div>
  </div>
</ion-view>
