<div class="create-content-overlay"></div>
<div class="create-content-background"></div>
<ion-content class="create-content">
  <div class="create-heading">
    <div class="placehodler-logo"></div>
    <h1>Decisions</h1>
    <p class="slogan">choices made by people you care about</p>
    <div class="sectional-line short"></div>
    <button>Help Make Decisions</button>
    <p class="or">OR</p>
    <p class="pull-up-message">Pull Up to create a question</p>
    <span class="ion-ios-arrow-thin-down down-arrow"></span>
  </div>
</ion-content>
