<ion-slide-box class="view-cards" ng-show="showCards">
  <ion-slide class="view-card" ng-repeat="card in cards">
    <view-card></view-card>
  </ion-slide>
</ion-slide-box>
<ion-scroll direction="y" ng-show="!showCards" class="contacts-container" overflow-scroll=”true”>
  <div>
    <div ng-repeat="alphabet in alphabets" ng-if="alphabet.contacts.length > 0">
      <div class="group-list">
        <div class="list">
          <div class="alphabet" ion-affix data-affix-within-parent-with-class="group-list">
            {{alphabet.name}}
          </div>
          <div class="contact" ng-repeat="contact in alphabet.contacts | orderBy: 'name'">
            <contact-slideable contact="contact"></contact-slideable>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-scroll>
<div class="app-navigation">
  <span class="ion-android-add plus-icon" ng-click="slideTo(0)"></span>
  <div class="toggle-view" ng-click="toggleView()" ng-class="{'rotate-button':(!showCards)}">
    <span class="ion-ios-people-outline" ng-class="{'show-icon': (showCards)}"></span>
    <span class="ion-ios-albums-outline" ng-class="{'show-icon': (!showCards)}"></span>
  </div>
  <span class="ion-arrow-graph-up-right analytics" ng-click="slideTo(2)"></span>
</div>
