/* Global */

body,
h1,
h2,
h3,
input,
p,
button {
  font-family: "Open Sans", sans-serif !important;
}

/* Angular scope change glitches */
.ng-leave-active {
  display: none;
}

.ng-leave {
  display: none;
}
/* Remove Pane background */

.pane {
  background: none !important;
  z-index: 10 !important;
}
/* Hide bottom tabs */

.tabs {
  display: none;
}
/* Background */

.global-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.global-background > img {
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.global-background.position-1 > img {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.global-background.position-2 > img {
  -webkit-transform: translateX(-68px);
  -moz-transform: translateX(-68px);
  -ms-transform: translateX(-68px);
  -o-transform: translateX(-68px);
  transform: translateX(-68px);
}

.global-background.position-3 > img {
  -webkit-transform: translateX(-136px);
  -moz-transform: translateX(-136px);
  -ms-transform: translateX(-136px);
  -o-transform: translateX(-136px);
  transform: translateX(-136px);
}

.global-background.position-4 > img {
  -webkit-transform: translateX(-204px);
  -moz-transform: translateX(-204px);
  -ms-transform: translateX(-204px);
  -o-transform: translateX(-204px);
  transform: translateX(-204px);
}
/* Background overlay */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(top, rgba(79, 80, 97, 0.1) 0%, rgba(79, 80, 97, 0.51) 46%, rgba(79, 80, 97, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(79, 80, 97, 0.1)), color-stop(46%, rgba(79, 80, 97, 0.51)), color-stop(100%, rgba(79, 80, 97, 1)));
  background: -webkit-linear-gradient(top, rgba(79, 80, 97, 0.1) 0%, rgba(79, 80, 97, 0.51) 46%, rgba(79, 80, 97, 1) 100%);
  background: -o-linear-gradient(top, rgba(79, 80, 97, 0.1) 0%, rgba(79, 80, 97, 0.51) 46%, rgba(79, 80, 97, 1) 100%);
  background: -ms-linear-gradient(top, rgba(79, 80, 97, 0.1) 0%, rgba(79, 80, 97, 0.51) 46%, rgba(79, 80, 97, 1) 100%);
  background: linear-gradient(to bottom, rgba(79, 80, 97, 0.1) 0%, rgba(79, 80, 97, 0.51) 46%, rgba(79, 80, 97, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1a4f5061', endColorstr='#4f5061', GradientType=0);
}
